:root {
  --color-main-text: #222e;
  --color-main-text-light: #eeee;
  --color-main-text-dark: #222e;
  --color-main-background: transparent;
  --color-main-background-light: rgba(255,255,255,0.7);
  --color-main-background-dark: rgba(0,0,0,0.7);
  --color-shadow: rgba(0,0,0,0.9);
  --backdrop-filter: blur(5px);
  --border-radius: none;
  --text-shadow-nav-links: 0px 0px 8px rgba(0,0,0,0.5);
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-on-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Cinzel', serif;
  --font-logo: 'Birthstone Bounce', cursive;
  --font-size-logo: 4rem;
  --font-size-nav: 2.5rem;
  --font-weigth-nav: 500;
  --border-nav: 2px solid var(--color-main-text-light);
  --border-nav: none;
  --color-nav: var(--color-main-text-light);
  --color-nav-link-underline: var(--color-main-text-light);
  --color-nav-resp-bg: rgba(255,255,255,0.8);
  --color-nav-resp-text: var(--color-main-text-dark);
  --font-size-nav-resp: 3rem;
  --font-weigth-nav-resp: 400;
  --font-size-slide-caption: 2.25rem;
  --font-weigth-slide-caption: 400;
  --font-family-slide-link: var(--font-primary);
  --font-size-slide-link: 1.5rem;
  --font-weigth-slide-link: 400;
  --slideshow-nav-btn-height: 6rem;
  --slideshow-nav-btn-width: 8rem;
  --slideshow-nav-btn-margin: 2rem;
  --slideshow-nav-btn-padding: 0.3rem 0.3rem;
  --color-bg-slideshow-btn: rgba(0,0,0,0.5);
  --slideshow-nav-height: 10rem;
  --slideshow-nav-border: var(--border-nav);
  --color-bg-contact-box: var(--color-main-background-light);
  --color-text-contact-box: var(--color-main-text-dark);
  --color-bg-about: var(--color-main-background-light); }
  @media screen and (max-width: 1100px) {
    :root {
      --slideshow-nav-height: 8rem;
      --slideshow-nav-border: none; } }
  @media screen and (max-width: 450px) {
    :root {
      --font-size-slide-caption: 1.75rem;
      --font-size-slide-link: 1.2rem;
      --slideshow-nav-btn-width: 4rem;
      --slideshow-nav-btn-height: 4rem;
      --slideshow-nav-btn-margin: 1rem; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: var(--color-main-text);
  font-family: var(--font-primary); }

a {
  color: inherit; }

.section-link,
.section-link:link,
.section-link:visited {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.2s;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-top: 5rem; }
  .section-link:hover,
  .section-link:link:hover,
  .section-link:visited:hover {
    transform: translateX(3px); }

h1,
h2,
h3 {
  font-family: var(--font-secondary); }

h2 {
  font-weight: 500;
  font-size: 2.75rem;
  margin-bottom: 3rem; }

p {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 1rem; }

.nav-wrapper {
  color: var(--color-nav); }

.nav {
  font-size: var(--font-size-nav);
  font-weight: var(--font-weigth-nav);
  font-family: var(--font-secondary); }
  .nav a {
    text-decoration: none; }
  .nav__logo, .nav__link--logo {
    font-family: var(--font-logo);
    font-size: var(--font-size-logo);
    font-weight: 500; }

.nav-resp {
  --color-nav-link-underline: var(--color-nav-resp-text);
  color: var(--color-nav-resp-text);
  font-size: var(--font-size-nav-resp);
  font-weight: var(--font-weigth-nav-resp);
  font-family: var(--font-secondary); }
  .nav-resp a {
    text-decoration: none; }

.slideshow__slide-text-box {
  color: var(--color-main-text-light); }

.slideshow__slide-text-caption {
  font-size: var(--font-size-slide-caption);
  font-weight: var(--font-weigth-slide);
  font-family: var(--font-secondary);
  text-decoration: none;
  white-space: nowrap; }

.slideshow__slide-text-link {
  font-family: var(--font-family-slide-link);
  font-size: var(--font-size-slide-link);
  font-weight: var(--font-weigth-slide-link);
  text-decoration: underline;
  white-space: nowrap; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.u-margin-top-big {
  margin-top: 5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.nav-wrapper {
  background-color: var(--color-main-background);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  z-index: 50;
  transition: top 0.3s; }

.nav-wrapper--scrolled-bottom {
  background-color: var(--color-main-background-light);
  backdrop-filter: var(--backdrop-filter);
  color: var(--color-main-text-dark);
  --color-nav: var(--color-main-text-dark);
  --color-nav-link-underline: var(--color-main-text-dark);
  --border-nav: none;
  border-bottom: 1px solid var(--color-main-text-dark);
  padding: 0 1rem; }

.nav {
  min-height: 5rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    margin-left: 2rem; }
  .nav__items {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    border-top: var(--border-nav);
    border-bottom: var(--border-nav); }
  .nav__item {
    list-style: none;
    margin: 0.5rem; }
  .nav__link {
    position: relative;
    transition: all 0.2s;
    display: inline-block; }
    .nav__link--logo {
      margin: 0 1.5rem;
      display: none; }
    .nav__link::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
      border-bottom: 1px solid var(--color-nav-link-underline);
      transform: scaleX(0);
      transition: all 0.2s; }
    .nav__link:hover, .nav__link:focus {
      transform: translateY(-2px); }
    .nav__link:hover::after, .nav__link:focus::after {
      transform: scaleX(1); }
  .nav__togle-button {
    width: 4rem;
    height: 4rem;
    position: relative;
    cursor: pointer; }
    .nav__togle-button-icon {
      width: 100%;
      height: 100%;
      fill: var(--color-nav);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s; }
      .nav__togle-button-icon--focus {
        transform: scale(0); }
      .nav__togle-button-icon--close {
        transform: scale(0); }
    .nav__togle-button:hover .nav__togle-button-icon--hamburger {
      transform: scale(0.4); }
    .nav__togle-button:hover .nav__togle-button-icon--focus {
      transform: scale(1); }

.nav-resp-wrapper {
  z-index: 61;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-nav-resp-bg);
  backdrop-filter: var(--backdrop-filter);
  display: none; }

.show_nav-resp {
  display: block; }

.nav-resp {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .nav-resp__item {
    list-style: none;
    margin: 2rem; }
  .nav-resp__togle-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    cursor: pointer; }
    .nav-resp__togle-button-icon {
      width: 100%;
      height: 100%;
      fill: var(--color-nav-resp-text);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s; }
      .nav-resp__togle-button-icon--focus {
        transform: scale(0); }
      .nav-resp__togle-button-icon--close {
        transform: scale(1); }
    .nav-resp__togle-button:hover .nav-resp__togle-button-icon--close {
      transform: scale(0.4); }
    .nav-resp__togle-button:hover .nav-resp__togle-button-icon--focus {
      transform: scale(1); }

@media screen and (min-width: 1100px) {
  .nav-wrapper {
    top: 6rem; }
  .nav__logo {
    display: none; }
  .nav__togle-button {
    display: none; }
  .nav__items {
    display: flex; }
  .nav__link--logo {
    display: inline-block; } }

.portfolio-section {
  margin: 5rem auto;
  max-width: 100%;
  padding: 0 1rem; }

.portfolio-header {
  margin-left: 1rem; }

.portfolio {
  display: flex;
  flex-wrap: wrap; }
  .portfolio__column {
    flex: 100%;
    max-width: 100%;
    padding: 0 1rem; }
  .portfolio__img {
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;
    transition: 0.2s; }
    .portfolio__img:hover, .portfolio__img:focus {
      box-shadow: var(--box-shadow-on-hover);
      transform: scale(1.01); }

@media screen and (min-width: 800px) {
  .portfolio__column {
    flex: 50%;
    max-width: 50%; } }

@media screen and (min-width: 1350px) {
  .portfolio__column {
    flex: 25%;
    max-width: 25%; } }

.galleries-section {
  width: 100%;
  max-width: 1220px;
  margin: 5rem auto;
  padding: 0 1rem; }

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .gallery__item-wrapper {
    padding: 1rem;
    flex-basis: 100%;
    max-width: 100%; }
  .gallery__item {
    position: relative;
    overflow: hidden;
    transition: 0.2s; }
    .gallery__item:hover, .gallery__item:focus {
      box-shadow: var(--box-shadow-on-hover);
      transform: scale(1.01); }
  .gallery__img {
    max-width: 100%;
    display: block;
    transform: scale(1.1);
    transition: 3s 0.2s; }
  .gallery__text-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: var(--color-main-text-light);
    padding: 1.5rem 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); }
  .gallery__caption {
    font-size: 2.5rem;
    font-weight: 500; }
  .gallery__text {
    margin-top: 0; }

.gallery__link:hover .gallery__img,
.gallery__link:focus .gallery__img {
  transform: scale(1); }

.gallery__link:hover .gallery__item,
.gallery__link:focus .gallery__item {
  box-shadow: var(--box-shadow-on-hover);
  transform: scale(1.01); }

@media screen and (min-width: 600px) {
  .gallery__item-wrapper {
    flex-basis: 50%; } }

@media screen and (min-width: 900px) {
  .gallery__item-wrapper {
    flex-basis: 33.33%; } }

.offers-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/offers/offers-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 2vw; }

.offers {
  width: 100%;
  max-width: 1220px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--color-main-text-dark); }
  .offers__title, .offers__text {
    padding: 2rem;
    margin: 0; }
  .offers__title, .offers__card, .offers__text {
    background-color: var(--color-main-background-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter); }
  .offers__cards {
    display: flex;
    flex-wrap: wrap; }
  .offers__card-wrapper {
    padding: 1rem;
    flex-basis: 100%; }
  .offers__card {
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
    cursor: pointer; }
    .offers__card:hover {
      box-shadow: var(--box-shadow-on-hover);
      transform: scale(1.01); }
  .offers__card-text {
    margin-bottom: 4rem; }
  .offers__card-title {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-main-background-dark); }
  .offers__card-ul {
    margin: 2rem 0; }
  .offers__card-li {
    list-style-position: inside;
    margin-bottom: 2rem; }
  .offers__card-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-main-text-light);
    background-color: var(--color-main-background-dark);
    padding: 1rem 2rem;
    cursor: pointer; }
    .offers__card-btn:hover, .offers__card-btn:focus {
      transform: translateY(-2px);
      box-shadow: var(--box-shadow); }

@media screen and (min-width: 600px) {
  .offers {
    padding: 0 1rem; }
  .offers__card-wrapper {
    flex-basis: 50%; }
  .offers__title,
  .offers__text {
    margin: 1rem; } }

@media screen and (min-width: 900px) {
  .offers__card-wrapper {
    flex-basis: 33.33%; } }

.about-section {
  width: 100%;
  min-height: 100vh;
  margin: 5rem auto;
  padding: 5vh 2vw;
  background-image: url("../img/about/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.about {
  padding: 3.5rem 2rem;
  text-align: justify;
  color: var(--color-main-text-dark);
  background-color: var(--color-bg-about);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius); }

@media screen and (min-width: 1000px) {
  .about-section {
    justify-content: flex-start; }
  .about {
    width: 40%;
    margin-left: 7vw;
    padding: 4rem 3rem;
    backdrop-filter: blur(5px); } }

.contact-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/contact-bg-big-1-opt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-text-contact-box);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 2vw; }

.contact {
  max-width: 120rem;
  width: 120rem;
  background-color: var(--color-bg-contact-box);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 1.6rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column; }
  .contact__part {
    width: 100%;
    padding: 2rem; }
  .contact__header {
    margin-bottom: 1rem; }
  .contact__icon {
    color: var(--color-text-contact-box); }
  .contact__method-link-wrapper {
    display: flex;
    align-items: center;
    width: fit-content; }
  .contact__method-link {
    font-size: inherit;
    text-decoration: none;
    width: 100%;
    display: block;
    margin-bottom: 1rem; }
  .contact__method-text {
    margin-left: 1rem; }
  .contact__form {
    width: 100%; }
  .contact__form-field:not(:last-child) {
    margin-bottom: 1rem; }
  .contact__form-label {
    display: block;
    margin-bottom: 0.5rem; }
  .contact__form-input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-text-contact-box);
    border-radius: var(--border-radius);
    resize: none; }
    .contact__form-input--text {
      width: 100%; }
    .contact__form-input--btn {
      color: var(--color-bg-contact-box);
      background-color: var(--color-text-contact-box);
      padding: 0.5rem 4rem;
      cursor: pointer; }
      .contact__form-input--btn:hover, .contact__form-input--btn:focus {
        transform: translateY(-2px);
        box-shadow: var(--box-shadow); }
  .contact__spacer {
    height: 2rem; }

@media screen and (min-width: 600px) {
  .contact {
    flex-direction: row; }
    .contact__spacer {
      height: 4rem; }
    .contact__header {
      margin-bottom: 2rem; }
    .contact__method-link {
      margin-bottom: 2rem; }
    .contact__form-field:not(:last-child) {
      margin-bottom: 2rem; }
    .contact__part {
      padding: 3rem 3rem; } }

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative; }
  .slideshow__slide {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none; }
    .slideshow__slide--1 {
      background-image: url("../img/hero-bg-big-2-opt.jpg"); }
    .slideshow__slide--2 {
      background-image: url("../img/hero-bg-big-1-opt.jpg"); }
    .slideshow__slide--3 {
      background-image: url("../img/hero-bg-big-3-opt.jpg"); }
  .slideshow__slide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%); }
  .slideshow__slide-text-box {
    z-index: 13;
    position: absolute;
    bottom: 0;
    height: var(--slideshow-nav-height);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .slideshow__nav {
    max-width: 120rem;
    width: 100%;
    height: var(--slideshow-nav-height);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: var(--slideshow-nav-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12; }
  .slideshow__nav-btn {
    z-index: 14;
    width: var(--slideshow-nav-btn-width);
    height: var(--slideshow-nav-btn-height);
    padding: var(--slideshow-nav-btn-padding);
    cursor: pointer;
    fill: var(--color-main-text-light);
    margin: var(--slideshow-nav-btn-margin);
    transition: all 0.2s; }
    .slideshow__nav-btn--prev:hover, .slideshow__nav-btn--prev:focus {
      transform: scale(1.1) translateX(-5px); }
    .slideshow__nav-btn--next:hover, .slideshow__nav-btn--next:focus {
      transform: scale(1.1) translateX(5px); }

/* The Modal (background) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 101;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  /* Modal Content */
  /* Hide the slides by default */ }
  .lightbox__content {
    position: relative;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .lightbox__slide {
    display: none; }
  .lightbox__img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto; }

/* The Close Button */
.lightbox__btn-close {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  font-weight: bold;
  border-radius: 0 0 0 var(--border-radius);
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  background-color: rgba(226, 226, 226, 0.5); }
  .lightbox__btn-close:hover, .lightbox__btn-close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer; }

/* Next & previous buttons */
.lightbox__btn-prev,
.lightbox__btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5rem;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.3s ease;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(226, 226, 226, 0.5); }

/* Position the "next button" to the right */
.lightbox__btn-next {
  right: 0;
  border-radius: var(--border-radius) 0 0 var(--border-radius); }

/* On hover, add a black background color with a little bit see-through */
.lightbox__btn-prev:hover,
.lightbox__btn-next:hover {
  color: #444; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: var(--box-shadow-on-hover); }

.container {
  width: 100%;
  position: relative; }

.testing-section {
  margin: 5rem auto;
  max-width: 120rem;
  text-align: justify; }
