:root {
  //--color-main-text: #222e;
  --color-main-text: #eeee;

  //--color-main-background: rgba(255,255,255,1);
  //--color-main-background: rgba(0,0,0,0.5);
  --color-main-background: transparent;
  
  --color-shadow: rgba(0,0,0,0.9);
  //--color-shadow: rgba(255,255,255,0.5);

  //--backdrop-filter: blur(5px);
  --backdrop-filter: none;

  --text-shadow-nav-links: 0px 0px 8px rgba(0,0,0,0.5);
  //--text-shadow-nav-links: none;

  --box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

  //--font-secondary: 'Comfortaa', cursive;
  --font-secondary: 'Cinzel', serif;

  //--font-secondary: 'Montserrat', sans-serif;
  //--font-secondary: 'Quicksand', sans-serif;
  
  // NAVIGATION
  --font-logo: 'Birthstone Bounce', cursive;
  --font-size-logo: 4rem;

  --font-size-nav: 2.5rem;
  --font-weigth-nav: 500;

  // RESP-NAVIGATION
  --color-nav-resp-bg: rgba(255,255,255,0.8);
  --color-nav-resp-text: #222e;
  --font-size-nav-resp: 3rem;
  --font-weigth-nav-resp: 400;
  --backdrop-filter-nav-resp-bg: blur(5px);
  

  // SLIDESHOW
  --font-size-slide-caption: 2.25rem;  
  --font-weigth-slide-caption: 400;
  
  --font-family-slide-link: 'Montserrat', sans-serif;
  --font-size-slide-link: 1.5rem;
  --font-weigth-slide-link: 400;

  --slideshow-nav-btn-height: 6rem;
  --slideshow-nav-btn-width: 8rem;
  --slideshow-nav-btn-margin: 2rem;
  --slideshow-nav-btn-padding: 0.3rem 0.3rem;
  
  --color-bg-slideshow-btn: rgba(0,0,0,0.5);
  
  --slideshow-nav-height: 10rem;
  --slideshow-nav-border: 2px solid var(--color-main-text);
  
  @media screen and (max-width: 1100px) {
    --slideshow-nav-height: 8rem;
    --slideshow-nav-border: none;
  }
  @media screen and (max-width: 450px) {
    --font-size-slide-caption: 1.75rem;
    --font-size-slide-link: 1.2rem;
    --slideshow-nav-btn-width: 4rem;
    --slideshow-nav-btn-height: 4rem;
    --slideshow-nav-btn-margin: 1rem;
    
  }
  
  
  
}