.about-section {  
  width: 100%;
  min-height: 100vh;
  margin: 5rem auto;
  padding: 5vh 2vw;
    
  background-image: url("../img/about/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

}

.about {
  //width: 40%;
  //margin-left: 10vw;
  padding: 3.5rem 2rem;

  text-align: justify;
  color: var(--color-main-text-dark);
  
  background-color: var(--color-bg-about);
  
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  
}

@media screen and (min-width: 1000px) {
  .about-section {
    justify-content: flex-start;
  }
  .about { 
    width: 40%;
    margin-left: 7vw;
    padding: 4rem 3rem;
    backdrop-filter: blur(5px);
  }
}