.galleries-section {  
  width: 100%;
  max-width: 1220px;
  margin: 5rem auto;
  padding: 0 1rem;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  //border: 1px solid red;

  
  &__item-wrapper {
    padding: 1rem;
    flex-basis: 100%;
    max-width: 100%;
    //border: 1px solid blue;
  }
  
  &__item {
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    
    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-on-hover);
      transform: scale(1.01);
    }
    
  }
  
  &__img {
    max-width: 100%;
    display: block;

    transform: scale(1.1);
    transition: 3s 0.2s;
    
  }

  &__text-box {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    text-align: center;
    color: var(--color-main-text-light);
    padding: 1.5rem 0;
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  }

  &__caption {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__text {
    margin-top: 0;
  }
}

// Animations on link hover/focus
.gallery__link:hover .gallery__img,
.gallery__link:focus .gallery__img {
  transform: scale(1);
}
.gallery__link:hover .gallery__item,
.gallery__link:focus .gallery__item {
  box-shadow: var(--box-shadow-on-hover);
  transform: scale(1.01);
}


// Media queries
@media screen and (min-width: 600px) {
  .gallery__item-wrapper { 
    flex-basis: 50%;
    //max-width: 50%; 
  }
}
@media screen and (min-width: 900px) {
  .gallery__item-wrapper { 
    flex-basis: 33.33%;
    //max-width: 33.33%;
  }
}