
.nav-wrapper {
  background-color: var(--color-main-background);
  //backdrop-filter: var(--backdrop-filter);

  width: 100%;
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 0.5rem 1rem;
  z-index: 50;
  transition: top 0.3s;
  //border: 1px solid orangered;
}

.nav-wrapper--scrolled-bottom {
  background-color: var(--color-main-background-light);
  backdrop-filter: var(--backdrop-filter);
  color: var(--color-main-text-dark);
  --color-nav: var(--color-main-text-dark);
  --color-nav-link-underline: var(--color-main-text-dark);
  --border-nav: none;
  border-bottom: var(--border-bottom-nav-scrolled-bottom);
  box-shadow: var(--box-shadow-scrolled-bottom);
  padding: 0 1rem;
  
  --font-size-nav: 2rem;  
  
  

  .nav__link--logo {
    background-image: url("../img/logo/logo-dark.svg");
    --nav-logo-width: 20rem;
    --nav-logo-height: 4rem;
  }

}

.nav {  
  min-height: 5rem;
  max-width: 120rem; 
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    border-top: var(--border-nav);
    border-bottom: var(--border-nav);
  }

  &__item {
    display: none;
    list-style: none;
    margin: 0.5rem;
    
    &--logo-cont {
      display: block;
      margin: 0 1.5rem;
    }
    
  }

  

  &__link {
    position: relative;
    transition: all 0.2s;
    display: inline-block;

    &--logo {
      display: inline-block;
      
      width: var(--nav-logo-width);
      height: var(--nav-logo-height);
      
      background-image: url("../img/logo/logo-light.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }    
    
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 2px; left: 0;
      z-index: -1;
      border-bottom: 1px solid var(--color-nav-link-underline);
      transform: scaleX(0);
      transition: all 0.2s;
    }
    
    &:hover,
    &:focus {
      transform: translateY(-2px);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }

  

  &__togle-button {
    width: 4rem;
    height: 4rem;
    position: relative;
    cursor: pointer;

    &-icon {
      width: 100%;
      height: 100%;
      fill: var(--color-nav);
      position: absolute;
      top: 0; left: 0;
      transition: all 0.4s;

      &--focus {
        transform: scale(0);
      }

      &--close {
        transform: scale(0);
      }
    }

    &:hover &-icon--hamburger {
      transform: scale(0.4);
    }
    &:hover &-icon--focus {
      transform: scale(1);
    }

  }
}


// RESPONSIVE NAVIGATION


.nav-resp-wrapper {  
  z-index: 61;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background-color: var(--color-nav-resp-bg);
  backdrop-filter: var(--backdrop-filter);  

  display: none;
}

.show_nav-resp {
  display: block;
}

.nav-resp {  
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);  
  
  &__item {
    list-style: none;
    margin: 2rem;
  }

  &__togle-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem; right: 2.5rem;
    cursor: pointer;

    &-icon {
      width: 100%;
      height: 100%;
      fill: var(--color-nav-resp-text);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s;
  
      &--focus { transform: scale(0); }  
      &--close { transform: scale(1); }
    }
  
    &:hover &-icon--close { transform: scale(0.4); }
    &:hover &-icon--focus { transform: scale(1); }
  }
  

}

@media screen and (min-width: 1100px) {
  .nav-wrapper { top: 6rem; }
  .nav {    
    &__togle-button { display: none; }
    &__item { display: block; }
    &__link--logo {      
      --nav-logo-width: 25rem;
      --nav-logo-height: 12.5rem;
    }
  }

  .nav-wrapper--scrolled-bottom {
    .nav__link--logo {
      
      --nav-logo-width: 25rem;
      --nav-logo-height: 5rem;
    }
  }
}