.portfolio-section {
  margin: 5rem auto;
  max-width: 100%;
  padding: 0 1rem;
  //text-align: justify;
}
.portfolio-header {
  margin-left: 1rem;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  
  
  //padding: 0 5px;

  &__column {
    flex: 100%;
    max-width: 100%;

    padding: 0 1rem;
  }

  &__img {
    margin-top: 2rem;
    
    //margin: 0;
    //vertical-align: middle;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;

    &:hover,
    &:focus {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.01);
    }
    
  }
}

@media screen and (min-width: 800px) {
  .portfolio__column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1350px) {
  .portfolio__column {
    flex: 25%;
    max-width: 25%;
  }
}