.slideshow {
  width: 100%; 
  height: 100vh;
  
  position: relative; 
  //background-color: black; 

  &__slide {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: none;

    &--1 { background-image: url("../img/hero-bg-big-1-opt.jpg"); }
    &--2 { background-image: url("../img/hero-bg-big-2-opt.jpg"); }
    &--3 { background-image: url("../img/hero-bg-big-3-opt.jpg"); }
  }

  &__slide-overlay {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-image:
      linear-gradient(to bottom,
                    rgba(0,0,0,0.5) 0%,
                    rgba(0,0,0,0) 20%,
                    rgba(0,0,0,0) 80%,
                    rgba(0,0,0,0.5) 100%);
    //z-index: 11;
  }

  &__slide-text {
    z-index: 10;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
  }
  

  &__nav {
    max-width: 120rem; width: 100%; height: 10rem;
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    
    border-top: 2px solid var(--color-main-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
  }

  &__nav-btn {
    width: 6rem;
    height: 5rem;
    //padding: 0.5rem 1rem;
    cursor: pointer;
    fill: var(--color-main-text);
    border-radius: 3px;
    margin: 2rem;
    transition: all 0.2s;

    &:hover, &:focus {
      background-color: var(--color-bg-slideshow-btn);
    }
  }
}