@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap");

html {
  font-size: 62.5%; 
}

body {  
  color: var(--color-main-text);
  font-family: var(--font-primary);  
}

a {
  //text-decoration: none;
  color: inherit;
}

.section-link,
.section-link:link,
.section-link:visited {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.2s;

  display: block;
  width: fit-content;
  margin-left: auto;
  margin-top: 3rem;  

  &:hover {
    transform: translateX(3px);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);  
}
h2 {
  font-weight: 500;
  font-size: 2.75rem;
  margin-bottom: 3rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 1rem;
}


// NAVIGATION
.nav-wrapper {
  color: var(--color-nav);
}

.nav {  
  font-size: var(--font-size-nav);
  font-weight: var(--font-weigth-nav);
  font-family: var(--font-secondary);

  & a { text-decoration: none; }

  &__logo,
  &__link--logo {
    font-family: var(--font-logo);
    font-size: var(--font-size-logo);
    font-weight: 500;
  }
}

.nav-resp {
  --color-nav-link-underline: var(--color-nav-resp-text); //overwrite link underline effect color
  color: var(--color-nav-resp-text);
  font-size: var(--font-size-nav-resp);
  font-weight: var(--font-weigth-nav-resp);
  font-family: var(--font-secondary);

  & a { text-decoration: none; }
}

// SLIDESHOW
.slideshow {
  &__slide-text-box {    
    color: var(--color-main-text-light);
  }
  &__slide-text-caption {
    font-size: var(--font-size-slide-caption);
    font-weight: var(--font-weigth-slide);
    font-family: var(--font-secondary);
    text-decoration: none;
    white-space: nowrap;
  }
  &__slide-text-link {
    font-family: var(--font-family-slide-link);
    font-size: var(--font-size-slide-link);
    font-weight: var(--font-weigth-slide-link);
    text-decoration: underline;
    white-space: nowrap;
  }
}

