.container {
  width: 100%;
  position: relative;
}

.portfolio-section {
  margin: 5rem auto;
  max-width: 95vw; 
  text-align: justify;
}

.testing-section {
  margin: 5rem auto;
  max-width: 120rem; 
  text-align: justify;
}



